body {
  margin: 0;
  line-height: normal;
}
 
:root {
  /* fonts */
  --body-text: Inter;
  --font-miama: Playwrite BE VLG;



  /* font sizes */
  --font-size-xl: 1.25rem;
  --body-text-size: 1rem;
  --font-size-4xl: 1.438rem;
  --font-size-lg: 1.125rem;
  --font-size-13xl: 2rem;
  --font-size-lgi: 1.188rem;
  --font-size-7xl: 1.625rem;
  --font-size-sm: 0.875rem;
  --font-size-29xl: 3rem;
  --font-size-10xl: 1.813rem;
  --font-size-19xl: 2.375rem;
  --font-size-9xl: 1.75rem;
  --font-size-3xl: 1.375rem;
  --font-size-5xl: 1.5rem;





   /* Colors */
   --color-black: #000;
   --color-gray-100: #222;
   --color-gray-200: rgba(255, 255, 255, 0.6);
   --color-gray-300: rgba(255, 255, 255, 0.5);
   --color-gray-400: rgba(255, 255, 255, 0.1);
   --color-white: #fff;
   --color-tomato-100: #ff6e57;
   --color-tomato-200: #e6533c;
   --color-darkslategray: rgba(48, 48, 48, 0.54);
   --text-1: #fafaf9;
   --text-2: rgba(239, 237, 232, 0.65);












}