 
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap');

 

/* Navber Section */

 
 

.fitness,
.home {
  position: relative;
}
.fitness {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-style: italic;
  font-weight: 800;
  font-family: inherit;
  white-space: nowrap;
}
.home {
  text-decoration: none;
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: var(--body-text);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 3.25rem;
}
.navigation-links {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-xl);
  background-color: var(--color-tomato-200);
  border-radius: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button:hover,
.navigation-links:hover {
  background-color: var(--color-tomato-100);
}
.about,
.contact,
.service {
  position: relative;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 4rem;
}
.about,
.contact {
  min-width: 4.25rem;
}
.about {
  min-width: 3.25rem;
}
.fitness-parent,
.navigation,
.navigation-links1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation-links1 {
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.fitness-parent,
.navigation {
  max-width: 100%;
}
.navigation {
  width: 29.063rem;
  border-radius: 39px;
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-10xs);
  gap: 2.937rem;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.fitness-parent {
  width: 66.25rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: 2.25rem;
  color: var(--color-tomato-200);
  font-family: var(--body-text);
}

span{
  font-family: "Playwrite BE VLG", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.get-body-in {
  font-weight: 900;
}
 
.stay-healthy {
  font-weight: 900;
}
.get-body-in-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-family: inherit;
}
.a-huge-selection {
  align-self: stretch;
  position: relative;
  font-size: var(--body-text-size);
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  color: var(--color-gray-300);
}
.join-club-now {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 1.375rem;
  font-weight: 600;
  font-family: var(--body-text);
  color: var(--color-white);
  text-align: left;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) 2.875rem;
  background-color: var(--color-tomato-200);
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
}
.download-app {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 1.375rem;
  font-weight: 600;
  font-family: var(--body-text);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 8rem;
}
.button1 {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-sm) 2.937rem;
  background-color: transparent;
  border-radius: var(--br-23xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
}
.button1:hover {
  background-color: rgba(230, 230, 230, 0.09);
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.get-body-in-shape-stay-healt-parent,
.hero-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.hero-buttons {
  flex-direction: row;
  gap: var(--gap-sm);
}
.get-body-in-shape-stay-healt-parent {
  width: 32.5rem;
  flex-direction: column;
  gap: 1.75rem;
}
.frame-child {
  height: 6rem;
  width: 12.875rem;
  position: relative;
  backdrop-filter: blur(20px);
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  display: none;
}
.workout-image-child {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-tomato-200);
  z-index: 2;
}
.workout-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.video-placeholder,
.video-tutorial {
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  z-index: 2;
}
.video-placeholder {
  letter-spacing: 0.3px;
  font-weight: 900;
  min-width: 4.25rem;
}
.video-tutorial {
  font-size: var(--body-text-size);
  letter-spacing: 0.5px;
  color: var(--text-2);
  min-width: 6.75rem;
}
.video-placeholder-parent {
  flex-direction: column;
  gap: 0.5rem;
}
.frame-group,
.rectangle-parent,
.video-placeholder-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent {
  margin: 0 !important;
  position: absolute;
  right: -11.312rem;
  bottom: -0.812rem;
  backdrop-filter: blur(20px);
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray);
  border: 1px solid var(--color-gray-400);
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-3xl);
  gap: var(--gap-xs);
  z-index: 1;
  font-size: var(--font-size-5xl);
  color: var(--text-1);
}
.frame-group {
  flex: 1;
  flex-direction: column;
  position: relative;
  gap: 4.437rem;
  max-width: 100%;
}
.frame-item {
  width: 1.244rem;
  height: 0.913rem;
  position: relative;
  object-fit: contain;
}
.hero-content,
.hero-content-inner {
  display: flex;
  justify-content: flex-start;
}
.hero-content-inner {
  height: 12.775rem;
  flex-direction: column;
  align-items: flex-start;
}
.hero-content {
  width: 38.938rem;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.256rem;
  max-width: 100%;
}
.images-2-icon {
  height: 36.25rem;
  width: 21.813rem;
  position: absolute;
  margin: 0 !important;
  bottom: -22.312rem;
  left: -14.375rem;
  object-fit: cover;
}
.frame-inner {
  width: 12.063rem;
  height: 6.125rem;
  position: relative;
  backdrop-filter: blur(20px);
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  display: none;
}
.free-workout-videos,
.image-placeholder {
  position: relative;
  letter-spacing: 1px;
  z-index: 1;
}
.image-placeholder {
  line-height: 2.5rem;
  font-weight: 900;
  display: inline-block;
  min-width: 7.313rem;
}
.free-workout-videos {
  font-size: 0.813rem;
  line-height: 1.25rem;
  color: rgba(255, 255, 255, 0.65);
}
.rectangle-group {
  backdrop-filter: blur(20px);
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-400);
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-xl) var(--padding-sm)
    var(--padding-5xl);
  gap: 0.312rem;
  z-index: 1;
}
.image-content,
.image-content-wrapper,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-content {
  flex-direction: row;
  position: relative;
}
.image-content-wrapper {
  flex-direction: column;
  padding: 3.812rem 0 0;
  font-size: 2.5rem;
}
.hero-content-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.desktop-1-inner,
.frame-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent {
  flex: 1;
  background: linear-gradient(180deg, #111, rgba(119, 119, 119, 0));
  flex-direction: column;
  padding: 3.562rem 8.312rem 4.75rem 11.875rem;
  gap: 6rem;
}
.desktop-1-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0.437rem var(--padding-xs) 0;
  text-align: left;
  font-size: 4.875rem;
  color: var(--color-white);
  font-family: var(--body-text);
}



/* Change Your Habits Section */


.change-your-habits {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 3.625rem;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.we-believe-fitness {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.3px;
  line-height: 1.5rem;
  color: var(--color-gray-300);
  text-align: center;
}
.change-your-habits-parent {
  width: 41.938rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
  max-width: 100%;
}
.benefits-cards-child {
  width: 11.25rem;
  height: 11.25rem;
  position: relative;
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.movement {
  position: relative;
  line-height: 1.375rem;
  font-weight: 600;
  display: inline-block;
  min-width: 5.813rem;
}
.we-believe-fitness1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.3px;
  line-height: 1.125rem;
  color: var(--color-gray-300);
  text-align: center;
}
.benefits-cards,
.movement-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.movement-parent {
  align-self: stretch;
  gap: var(--gap-7xs);
}
.benefits-cards {
  gap: var(--gap-11xl);
}
.benefits-cards-item {
  width: 11.25rem;
  height: 11.25rem;
  position: relative;
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.time {
  position: relative;
  line-height: 1.375rem;
  font-weight: 600;
  display: inline-block;
  min-width: 2.75rem;
}
.we-believe-fitness2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.3px;
  line-height: 1.125rem;
  color: var(--color-gray-300);
  text-align: center;
}
.benefits-cards1,
.time-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.time-parent {
  align-self: stretch;
  gap: var(--gap-7xs);
}
.benefits-cards1 {
  gap: var(--gap-11xl);
}
.benefits-cards-inner {
  width: 11.25rem;
  height: 11.25rem;
  position: relative;
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.practice {
  position: relative;
  line-height: 1.375rem;
  font-weight: 600;
  display: inline-block;
  min-width: 4.5rem;
}
.we-believe-fitness3 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.3px;
  line-height: 1.125rem;
  color: var(--color-gray-300);
  text-align: center;
}
.benefits-cards2,
.practice-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.practice-parent {
  align-self: stretch;
  gap: var(--gap-7xs);
}
.benefits-cards2 {
  gap: var(--gap-11xl);
}
.frame-icon {
  width: 11.25rem;
  height: 11.25rem;
  position: relative;
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.weight-loss {
  position: relative;
  line-height: 1.375rem;
  font-weight: 600;
  display: inline-block;
  min-width: 6.688rem;
}
.we-believe-fitness4 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.3px;
  line-height: 1.125rem;
  color: var(--color-gray-300);
  text-align: center;
}
.weight-loss-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.benefits-cards-parent,
.benefits-cards3,
.weight-loss-parent {
  align-items: center;
  justify-content: flex-start;
}
.benefits-cards3 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.benefits-cards-parent {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  gap: 2.5rem;
  grid-template-columns: repeat(4, minmax(173px, 1fr));
  font-size: var(--font-size-lg);
}
.card-container,
.habits-title {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.habits-title {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-39xl);
}
.card-container {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}







/* Run an Extra Mile Easily */

.mile-easily,
.run-an-extra {
  margin: 0;
}
.run-an-extra-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 900;
  font-family: inherit;
}
.we-believe-fitness5 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.3px;
  line-height: 1.5rem;
  color: var(--color-gray-300);
}
.mile-title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.join-now {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 1.375rem;
  font-weight: 600;
  font-family: var(--body-text);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 5.063rem;
}
.button2,
.mile-content,
.mile-title-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) 4.437rem;
  background-color: var(--color-tomato-200);
  border-radius: var(--br-23xl);
  flex-direction: row;
  white-space: nowrap;
}
.button2:hover,
.button8:hover {
  background-color: var(--color-tomato-100);
}
.mile-content,
.mile-title-parent {
  flex-direction: column;
}
.mile-title-parent {
  align-self: stretch;
  gap: var(--gap-15xl);
}
.mile-content {
  width: 27.688rem;
  padding: 0.687rem 0 0;
  box-sizing: border-box;
  min-width: 27.688rem;
  max-width: 100%;
}
.rectangle-icon {
  width: 22.875rem;
  position: relative;
  border-radius: var(--br-lg);
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.mile-content-parent {
  align-self: stretch;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-11xl) var(--padding-16xl) 1.812rem 3.375rem;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.habits-content,
.habits-content-wrapper,
.mile-content-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.habits-content {
  width: 66.25rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6.25rem;
}
.habits-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--body-text);
}




/* Trainings and Exercises Section */

.trainings-and-exercises {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 3.625rem;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.we-believe-fitness6 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.3px;
  line-height: 1.5rem;
  color: var(--color-gray-300);
}
.trainings-and-exercises-parent {
  width: 41.938rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  max-width: 100%;
}
.image-8-icon {
  height: 13.625rem;
  width: 20.188rem;
  position: absolute;
  margin: 0 !important;
  right: -3.562rem;
  bottom: -1.031rem;
  object-fit: cover;
}
.image-8-parent,
.lorem-ipsum {
  flex-shrink: 0;
  position: relative;
}
.lorem-ipsum {
  width: 11rem;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.image-8-parent {
  width: 15.625rem;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9.812rem var(--padding-5xl) 1.718rem;
  box-sizing: border-box;
  color: var(--color-black);
}
.image-6-icon {
  height: 16rem;
  width: 33.688rem;
  position: absolute;
  margin: 0 !important;
  top: -2.75rem;
  right: -1.187rem;
  object-fit: cover;
}
.image-6-parent,
.lorem-ipsum1 {
  flex-shrink: 0;
  position: relative;
}
.lorem-ipsum1 {
  width: 11rem;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.image-6-parent {
  height: 12.625rem;
  width: 32.5rem;
  background-color: #ddd;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) 1.937rem;
  box-sizing: border-box;
  max-width: 100%;
}
.image-11-icon {
  height: 13.375rem;
  width: 24.25rem;
  position: absolute;
  margin: 0 !important;
  right: -3.5rem;
  bottom: -0.406rem;
  object-fit: cover;
}
.leg-press-works {
  width: 11rem;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-container,
.image-11-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-11-parent {
  flex: 1;
  background-color: #ccc;
  overflow: hidden;
  padding: 9.125rem var(--padding-8xl) 1.343rem;
  box-sizing: border-box;
  position: relative;
  min-width: 11.75rem;
}
.frame-container {
  align-self: stretch;
  flex-wrap: wrap;
  row-gap: 20px;
  max-width: 100%;
}
.image-7-icon {
  height: 15rem;
  width: 27.188rem;
  position: absolute;
  margin: 0 !important;
  right: -0.562rem;
  bottom: -1.562rem;
  object-fit: cover;
}
.leg-press-works1 {
  width: 11rem;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.image-7-parent {
  flex: 1;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 1.593rem 0 var(--padding-6xl);
  box-sizing: border-box;
  position: relative;
  min-width: 17.25rem;
  min-height: 12.625rem;
  max-width: 100%;
}
.image-10-icon {
  width: 25.5rem;
  height: 13.688rem;
  position: absolute;
  margin: 0 !important;
  bottom: -0.625rem;
  left: calc(50% - 204px);
  object-fit: cover;
}
.leg-press-works2 {
  width: 11rem;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.image-10-parent {
  width: 18rem;
  background-color: #bbb;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 9.031rem var(--padding-xl) var(--padding-4xl) var(--padding-15xl);
  box-sizing: border-box;
  position: relative;
}
.image-9-icon {
  height: 15.625rem;
  width: 23.5rem;
  position: absolute;
  margin: 0 !important;
  top: -1.531rem;
  left: -0.937rem;
  object-fit: cover;
}
.leg-press-works3 {
  width: 11rem;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.image-9-parent {
  width: 21.688rem;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8.906rem 2.375rem var(--padding-6xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.frame-div {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}
.exercises,
.exercises-wrapper,
.frame-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.exercises {
  flex: 1;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: column;
}
.exercises-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-11xl);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
}
.bmi-calculator {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 3.625rem;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.we-believe-fitness7 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.3px;
  line-height: 1.5rem;
  color: var(--color-gray-300);
}
.calculator-content {
  width: 41.938rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  max-width: 100%;
}
.offerings-header {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.offerings-header,
.trainings-content,
.trainings-content-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.trainings-content {
  width: 66.25rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-39xl);
}
.trainings-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--body-text);
}
























